<mat-tab-group (pandown)="toggle(false)" (swipedown)="toggle(false)">
  <mat-tab label="One">
    <ng-template mat-tab-label>
      <mat-icon>language</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="settings-tab">
        <app-country-selector></app-country-selector>
      </div>
    </ng-template>
  </mat-tab>
  <mat-tab label="Two">
      <ng-template mat-tab-label>
        <mat-icon>tune</mat-icon>
      </ng-template>
      <ng-template matTabContent>
      <div class="settings-tab">
        <app-categories></app-categories>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Tree">
    <ng-template mat-tab-label>
      <mat-icon>library_books</mat-icon>
    </ng-template>
    <ng-template matTabContent>
      <div class="settings-tab">
        <app-sources></app-sources>
      </div>
    </ng-template>
  </mat-tab>

  
  <mat-tab label="Four">
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
      </ng-template>
      <ng-template matTabContent>
        <div>
          <p>Legal stuff will be here...</p>
        </div>
      </ng-template>
  </mat-tab>
</mat-tab-group>

<div class="blocker" (panup)="toggle(true)" (swipeup)="toggle(true)"></div>