<mat-tab-group>
  <mat-tab label="One">
    <ng-template mat-tab-label>
      <mat-icon>language</mat-icon>
    </ng-template>
    <div class="settings-tab">
      <app-country-selector></app-country-selector>
    </div>
  </mat-tab>
  <mat-tab label="Two">
      <ng-template mat-tab-label>
        <mat-icon>tune</mat-icon>
      </ng-template>
      <div>
        <h1>Some tab content</h1>
        <p>...</p>
      </div>
  </mat-tab>
  <mat-tab label="Three">
      <ng-template mat-tab-label>
        <mat-icon>settings</mat-icon>
      </ng-template>
      <div>
        <h1>Some tab content</h1>
        <p>...</p>
      </div>
  </mat-tab>
</mat-tab-group>

<div class="blocker"></div>