<h2>PRIVACY POLICY</h2>

<h4>Personal Data - Collection &amp; Usage</h4>

<p>
  While you are not logged in, we do not capture any personal data. 

  If you choose to login or use the social features, News Hawker may capture your name, profile picture and email address to display. 
  We may also from time to time send you updates via email, but we promise not to bother you as often!

  While we capture your profile picture, name and email, we only store your email address to know you are you! Whenever you come back to our app, all the preferences you set will be kept.

  Other users will never have access to your data. The information we capture we use it for the only purpose of providing a better experience to our users. 
  There are no interactions between users within our app.
</p>

<h4>Location Data - Collection &amp; Usage</h4>

<p>
  We do not store any data regarding our users location. However, we do use some of your data to bring you the best possible experience. 
  We use a third-party service to identify which country you are from based on your public IP (provided by your ISP or Internet Service Provider) 
  to show you the news that are more relevant to you. News Hawker does not actively track your location. Should you choose to log in, News Hawker will remember
  the country of your preference instead.
                
  We value your privacy and make an effort to keep News Hawker as simple as possible, so you don’t have to hop over hurdles to read the news.
</p>

<h4>Cookies</h4>

<p>
  If you sign up or log in to our app, we use cookies on our site to remember who you are. This cookie is safe and does not contain any personal data. 
  It contains a reference to a generated generic id that identifies you as you within our app and is properly secured so only News Hawker can access it.

  We don’t use cookies or track your activity in any way. However, we display data and images from many news sources. Some of these sources may use cookies, 
  track your activity when you access their sites or store your personal data in order to conduct their businesses. News Hawker is not affiliated with any of these sources, 
  we merely attempt to bring you the latest news in the easiest most presentable way. 
</p>

<h4>Special Considerations Regarding Children under Thirteen Years of Age</h4>
<p>
  While News Hawker cannot prevent children under thirteen years of age from visiting and viewing the news on this website, in a commitment to safe-guard their online privacy, 
  we rely on social media providers that provide a clear notice is given that such children are not permitted to register, 
  and the required birth date field will not allow the registration to continue when a birth date indicating less than 13 years of age is entered. 
  News Hawker strongly encourages parents and guardians to supervise the activity of all children under the age of 18 in their use of the internet.
</p>

<h4>Closing Personal Accounts</h4>

<p>
  News Hawker users may terminate their accounts at any time. Once the account is terminated, the personal information within becomes no longer accessible. 
  If you wish to delete your account please contact <a href="mailto:support@news-hawker.com">support@news-hawker.com</a>.
</p>

<h4>Inquiries</h4>

<p>
  Any questions about News Hawker privacy policy should be directed to <a href="mailto:support@news-hawker.com">support@news-hawker.com</a>.
</p>