<div class="title">
    <object class="image" [data]="imgUrl(article.urlToImage)" type="image/png" >
      <img src="./assets/fallback-img.png" />
    </object>
    <div class="overlay"></div>
    <p>{{article.title}}</p>
</div>
<div class="body">
  <span class="source">
    <i class="fas fa-pen-nib"></i>
    {{article.source.name}} · </span> 
  <span class="published" >{{article.publishedAt | timeAgo}}</span>
  <p>
    {{article.description}}
  </p>
</div>
<div class="actions">
    <a [href]="article.url" target="_blank" class="gradient-button">READ MORE</a>
</div>