<mat-card class="news-card">
    <mat-card-header>
        <img mat-card-avatar [src]="'https://besticon-demo.herokuapp.com/icon?url='+article.url+'&size=80'" [alt]="article.source.name" />
        <mat-card-title>{{article.title}}</mat-card-title>
    </mat-card-header>
    <img *ngIf="article.urlToImage" [src]="imgUrl(article.urlToImage)" mat-card-image />
    <mat-card-content *ngIf="article.description">
        <p>
          {{article.description}}
        </p>
      </mat-card-content>
    <mat-card-actions align="end">
      <a [href]="article.url" target="_blank" mat-button>READ MORE</a>
    </mat-card-actions>
</mat-card>