<a (click)="hide()" style="display: block; margin-top: 10px; margin-left: 10px; width: auto; text-align: left;"><mat-icon>clear</mat-icon></a>

<h1>Privacy Policy</h1>

<h2>Here’s the short version: We don’t store anything! </h2>

<h2>Long version:</h2>

<h3>What we store:</h3>

<p>News Hawker doesn’t store any of your data. We don’t use cookies or track your activity in any way. However, we display data and images from many news sources. Some of these sources may use cookies, track your activity or store your personal data in order to conduct their businesses. News Hawker is not affiliated with any of these sources, we merely attempt to bring you the latest news in the easiest most presentable way. </p>

<h3>What we use:</h3>

<p>Even if we don’t store the data ourselves, we do use some of your data to bring you the best possible experience. We use a third-party service to identify which country you are from based on your public IP (provided by your ISP or Internet Service Provider) to show you the news that are more relevant to you. News Hawker does not actively track your location. 

We value your privacy and make an effort to keep News Hawker as simple as possible, so you don’t have to hop over hurdles to read the news.</p>
