<!-- <a (click)="hide()" style="display: block; margin-top: 10px; margin-left: 10px; width: auto; text-align: left;"><mat-icon>clear</mat-icon></a> -->


<mat-tab-group mat-stretch-tabs>
    <mat-tab label="One">
        <ng-template mat-tab-label>
            PRIVACY POLICY
        </ng-template>
        <ng-template matTabContent>
            <div class="sidebar-tab">
                <h2>Here’s the short version: We don’t store anything! </h2>

                <h2>Long version:</h2>
                
                <h3>What we store:</h3>
                
                <p>News Hawker doesn’t store any of your data. We don’t use cookies or track your activity in any way. However, we display data and images from many news sources. Some of these sources may use cookies, track your activity or store your personal data in order to conduct their businesses. News Hawker is not affiliated with any of these sources, we merely attempt to bring you the latest news in the easiest most presentable way. </p>
                
                <h3>What we use:</h3>
                
                <p>Even if we don’t store the data ourselves, we do use some of your data to bring you the best possible experience. We use a third-party service to identify which country you are from based on your public IP (provided by your ISP or Internet Service Provider) to show you the news that are more relevant to you. News Hawker does not actively track your location. 
                
                We value your privacy and make an effort to keep News Hawker as simple as possible, so you don’t have to hop over hurdles to read the news.</p>    
            </div>
        </ng-template>
    </mat-tab>
    <mat-tab label="Two">
        <ng-template mat-tab-label>
            CREDITS
        </ng-template>
        <ng-template matTabContent>
            <div class="sidebar-tab">
              <h3>Dependencies</h3>

              <p>This app is built with Google's Angular and Angular Material libraries. We are also using the following third-party libraries.</p>

              <h4>ngx-infinite-scroll</h4> 
              <p>ngx-infinite-scroll is developed and maintained by <a href="https://github.com/orizens" target="_blank">Oren Farhi</a> and can be found on <a href="https://github.com/orizens/ngx-infinite-scroll" target="_blank">Github</a>. Licensed under the MIT License.</p>

              <h4>ng-select</h4> 
              <p>ng-select is developed and maintained by <a href="https://github.com/anjmao" target="_blank">Andžej Maciusovič</a> and can be found on <a href="https://github.com/ng-select/ng-select" target="_blank">Github</a>. Licensed under the MIT License.</p>

              <h4>time-ago-pipe</h4> 
              <p>time-ago-pipe is developed and maintained by <a href="https://github.com/AndrewPoyntz" target="_blank">Andrew Poyntz</a> and can be found on <a href="https://github.com/AndrewPoyntz/time-ago-pipe" target="_blank">Github</a>. Licensed under the MIT License.</p>

              <h3>Sources</h3>

              <h4>NewsAPI</h4>
              <p><a href="https://newsapi.org/" target="_blank">News API</a> is a public news API that collects news data from various sources around the world. The information is not owned by either News Hawker nor News Api. If you believe that your own copyrighted work is accessible on this site in violation of your copyright, please contact our source of data, News API. For more information, click <a href="https://newsapi.org/terms" target="blank">here</a>.</p>

              <h4>Extreme IP Lookup</h4>
              <p><a href="https://extreme-ip-lookup.com/" target="_blank">Extreme IP LookUp</a> is a Free IP Geolocation service. They allow us to identify which country you are from and be able to show the news that are more relevant to you. For more information about their service, contact <a href="mailto:info@extreme-ip-lookup.com">info@extreme-ip-lookup.com</a>.</p>
            </div>
        </ng-template>
    </mat-tab>
</mat-tab-group>


