/* You can add global styles to this file, and also import other style files */

@import "assets/scss/theme";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Bangers');

$primary: #f2709c;
$secondary: #ff9472;
$main-gradient: linear-gradient(to right, #f2709c, #ff9472);
$alt-gradient: linear-gradient(to right, #c31432, #240b36);
//linear-gradient(to right, #43C6AC, #191654);

@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
    overflow: hidden;
    position: relative;
    line-height: $lineHeight;
    max-height: $lineHeight * $lineCount; 
    text-align: justify;
    margin-right: -1em;
    padding-right: 2em;
    &:before {
      content: '...';
      position: absolute;
      right: 1.5em;
      bottom: 1px;
    }
    &:after {
      content: '';
      position: absolute;
      right: 0.5em;
      width: 2em;
      height: 1em;
      margin-top: 0.2em;
      background: $bgColor;
    }
  }


* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body { 
    background: #CFD8DC;
    margin: 0; 
}

app-nav-bar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: $main-gradient;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    border: none;
    z-index: 500;
    color: white;

    &>.nav-section {
        height: 100%;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 0 0 auto;
        padding: 10px 20px;
        &.left {
            justify-content: flex-start;
            width: 65%;
            .brand {
                flex: 0 0 auto;
                height: 60px;
                width: auto;
            }
        }
        &.right {
            width: 35%;
            display: inline-flex;
            justify-content: flex-end;
            &> *{
                flex: 0 0 auto;
                margin-right: 10px;
            }
            &>a{
                cursor: pointer;
            }
        }
    }
}

.mat-tab-body {
    display: none !important;
    &.mat-tab-body-active {
        display: block !important; 
    }
}

ng-select {
    flex: 0 0 auto;
    width: 250px;
}

.news-container {
    width: 100%;
    display: flex;
    position: relative;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #CFD8DC;
    &>* {
        flex: 0 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &.dark {
        background: #263238;
    }
}

app-news {
    width: 100%;
    height: 420px;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background: white;
    &.nodesc {
        height: 330px;
        &>.body {
            height: 40px;
        }
    }
    &.dark {
        background: #37474F;
        &>.body{
            &>.source {
                color: #CFD8DC;
            }
            &>.published {
                color: #FFFFFF;
                opacity: 0.5;
            }
            &>p {
                color: white;
                &::after{
                    background: #37474F;
                }
            }
        }
    }
    &>.title {
        width: 100%;
        height: 240px;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        &>.image {
            top: 0;
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            max-height: 120%;
            max-width: 120%;
            height: auto;
            width: auto;
            &>img {
                position: relative;
                min-width: 100%;
                min-height: 100%;
                max-height: 100%;
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }
        &>.overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.8));
        }
        &>p {
            flex: 0 0 auto;
            position: relative;
            color: white;
            text-transform: uppercase;
            width: 100%;
            padding: 10px; 
            text-align: right;
            margin: 0;
            font-size: 18px;
        }
    }
    &>.body {
        height: 130px;
        width: 100%;
        padding: 10px;
        display: block;
        &>.source {
            font-size: 13px;
            color: #607D8B;
            text-transform: uppercase;
        }
        &>.published {
            line-height: 13px;
            font-size: 11px;
            color: #B0BEC5;
            vertical-align: middle;
            display: inline-block;
        }
        &>p {
            margin: 0;
            width: 100%;
            padding: 15px 0 5px 0;
            @include multiLineEllipsis($lineHeight: 1em, $lineCount: 4, $bgColor: white); 
        }
    }
    &>.actions {
        padding: 0 5px 10px 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        &>* {
            flex: 0 0 auto;
            margin: 0 5px;
        }
    }
}

app-sources {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 12px 16px;

    .mat-chip-list-wrapper {
        width: 100%;
        mat-chip {
            &.mat-standard-chip {
                border-radius: 0;
                &.mat-primary {
                    background: $main-gradient;
                    color: white;
                    text-transform: uppercase;
                    font-size: 14px;
                    &.selected {
                        background: $alt-gradient;
                    }
                    mat-icon.mat-chip-remove {
                        color: white;
                    }
                }
            }
            &[hidden] {
                display: none;
            }   
        }
    }
    mat-form-field {
        width: 100%;
        &>.mat-form-field-wrapper {
            padding: 0 !important;
            &>.mat-form-field-underline {
                display: none !important;
            }
            .mat-form-field-infix {
                border: none;
                padding: 0 0 4px 0;
            }
        }
    }
}

app-categories {
    padding: 8px 12px;
    width: 100%;
    height: 100%;
    mat-radio-group.categories {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        height: 100%;
        &>mat-radio-button {
            flex: 0 0 auto;
            margin: 8px;
            &.mat-radio-checked {
                &>.mat-radio-label {
                    background: $alt-gradient;
                }
            }
            &>.mat-radio-label {
                background: $main-gradient;
                color: white;
                text-transform: uppercase;
                font-size: 14px;
                padding: 6px 12px;
                &>.mat-radio-container {                    
                    display: none;
                }
                &>.mat-radio-label-content {
                    padding-left: 0;
                }
            }
            
        }
    }
}

.mat-tab-group.mat-primary .mat-ink-bar {
    background: $main-gradient;
}

app-settings {
    position: fixed;
    left: 0;
    right: 0;
    bottom: -202px;
    height: 250px;
    background: white;
    transition: bottom 0.25s ease-out;
    -webkit-transition: bottom 0.25s ease-out;
    z-index: 700;
    
    box-shadow: 0 -1px 3px rgba(0,0,0,0.12), 0 -1px 2px rgba(0,0,0,0.24);
    &.dark {
        background: #37474F;
    }
    &>mat-tab-group {
        position: absolute;
        width: 100%;
        height: 100%;
        .mat-tab-list {
            .mat-tab-label {
                flex-grow: 1;
                font-size: 18px;
                color: $secondary;
                font-weight: bold;
                letter-spacing: 2px;

                i {
                    margin-right: 6px;
                }
            }
            
        }
        .mat-tab-body-wrapper {
            height: 100%;
            .settings-tab {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
    &>.blocker {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 550;
    }
    &.shown {
        bottom: 0;
        &>.blocker {
            display: none;
        }
    }
    
}

app-side-bar {
    position: fixed;
    top: 80px;
    left:0;
    bottom: 48px;
    width: 100vw;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    background: $main-gradient;
    background-size: 100vw 100vh;
    background-position: right bottom;
    font-family: 'Montserrat', sans-serif;
    -webkit-overflow-scrolling: touch;
    transition: left 0.25s ease-out;
    z-index: 600;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &>* {
        flex: 0 0 auto;
        margin: 10px auto;
    }
    &>.links {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        &>* {
            flex: 0 0 auto;
            margin: auto 5px;
        }
        &>a{
            color: white;
            text-decoration: none;
        }
    }
    &.hidden {
        left: 100%;
    }
    
}

app-theme-selector {
    .toggle{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        color: white;
        &>* {
            flex: 0 0 auto;
        }
    }
}

.add-to-home {
    &.modal {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 70px;
        left: 10px;
        right: 10px;
        height: 220px;
        transition: opacity 0.5s ease-out;
        &.show {
            visibility: visible;
            opacity: 1;
        }
        &>.bg {
            background: rgba(0,0,0,.8);
            width: 100%;
            height: 100%;
            position: absolute;
        }
        &>.content {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            padding: 20px;
            &>span {
                font-family: 'Bangers', sans-serif;
                text-transform: uppercase;
                color: white;
                font-size: 28px;
            }
            &>p {
                color: white;
                font-size: 16px;
                line-height: 22px;
                margin-top: 8px;
                margin-bottom: 16px;
                font-weight: 400;
                &>img {
                    max-height: 22px;
                    display: inline;
                    margin: 0 4px;
                }
            }
        }
    }
}

.gradient-button {
    display: block;
    height: 40px;
    width: 120px;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    background-image: $main-gradient;
    color: white;
    position: relative;
    z-index: 100;
    &::before {
        border-radius: inherit;
        background-image: $alt-gradient;
        content: '';    
        display: block;
        height: 100%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0;
        width: 100%;
        transition: opacity 0.45s;
        z-index: -100;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

button {
    &.flat {
        border: none;
        background: $primary;
        padding: 6px 12px;
        font-size: 16px;
        color: white;
        &:focus {
            outline: none;
            border-style: none;
        }
        &:active {
            color: black;
            outline: none;
            border-style: none;
            background: white;
        }
    }
}

.settings-title {
    display: none;
    margin-bottom: 10px;
    color: $primary;
    font-size: 24px;
    letter-spacing: 1px;
    &.white {
        display: block;
        width: 100%;
        text-align: center;
        color: white;
    }
}

app-spinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    min-height: 100%;
    background: transparent;
    .spinner{
        position: absolute;
        height: 200px;
        width: 200px;
        border: 3px solid transparent;
        border-top-color: $secondary;
        top: calc(50% - 100px);
        left: calc(50% - 100px);
        border-radius: 50%;
        animation: spin 2s linear infinite;

        &.white {
        border-top-color: white;
            &:before {
                border-top-color: rgba(255,255,255,0.6);
            }    
            &:after{
                border-top-color: rgba(255,255,255,0.4);
            }
        }
        
        &:before, &:after{
            content:'';
            position: absolute;
            border: 3px solid transparent;
            border-radius: 50%;
        }
        
        &:before{
            border-top-color: $secondary;
            top: -12px;
            left: -12px;
            right: -12px;
            bottom: -12px;
            animation: spin 3s linear infinite;
        }
        
        &:after{
            border-top-color: $secondary;
            top: 6px;
            left: 6px;
            right: 6px;
            bottom: 6px;  
            animation: spin 4s linear infinite;
        }
    }

    &>img {
        height: 120px;
        width: auto;
        flex: 0 0 auto;
    }

    @keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    }
}

app-login {
    padding: 10px;
    min-height: 200px;
    &>div {
        &>span {
            text-align: center;
            color: white;
            font-size: 18px;
            display: block;
            width: 100%;
            padding: 5px;
        }
        &>.buttons {
            padding: 10px 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            &>* {
                flex: 0 0 auto;
                margin: 5px auto;
            }
    
            &>button {
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                border: none;
                padding: 10px 20px;
                font-size: 13px;
                color: white;
                border-radius: 2px;
                width: 250px;
                text-align: center;
                &>i {
                    font-size: 15px;
                    margin-right: 6px;
                }
                &.fb{
                    background: #3b5998;
                }
                &.google {
                    background: white;
                    color: #d62d20;
                }
            }
            
        }
    }
    app-spinner {
        height: 200px;
    }
}

app-profile {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &>* {
        flex: 0 0 auto;
    }
    &>.user {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        &>* {
            flex: 0 0 auto;
            margin: 8px auto;
        }
        &>img {
            border: 2px solid white;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            overflow: hidden;
        }
        &>span {
            color: white;
            font-size: 18px;
        }
    }

    &>button.signOut {  
        margin-top: 10px;
        padding: 10px 20px;
        border-radius: 2px;
        font-size: 13px;
        background: transparent;
        font-weight: 500;
        border: 1px solid white;
        color: white;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
}

app-privacy {
    width: 100%;
    display: flex;
    position: relative;
    top: 80px;
    height: calc(100vh - 80px);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: #CFD8DC;
    padding: 15px 30px;
    &>* {
        flex: 0 0 auto;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    &>p {
        color: #37474F;
        &>a{
            color: $secondary;
            text-decoration: none;
        }
    }
    &>h2 {
        color: $primary;
        font-size: 32px;
        font-weight: bold;
        display: block;
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            top: 100%;
            content: '';
            width: 100%;
            height: 3px;
            background: $main-gradient;
        }
    } 
    &>h4 {
        font-weight: bold;
        color: #263238;
        position: relative;
        text-align: center;
        // &::after {
        //     position: absolute;
        //     left: 0;
        //     top: 100%;
        //     content: '';
        //     width: 100%;
        //     height: 1px;
        //     background: #263238;
        // }
    }
    &.dark {
        color: white;
        &>h4 {
            color: $secondary;
            // &::after{
            //     background: #fc6767;
            // }
        }
        &>p {
            color: white;
        }
        background: #263238;
    }

}

app-today {
    &>a {
        height: 80px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        font-size: 20px;
        opacity: 1;
        transition: all 0.5s ease;
        user-select: none;
        &.hidden {
            opacity: 0;
        }
        &:hover {
            cursor: pointer;
            background: linear-gradient(to bottom right, rgba(255,255,255,0), rgba(255,255,255,0.2));
        }
        &>* {
            flex: 0 0 auto;
            margin: auto 10px;
        }
        &>img {
            height: 30px;
            &.temp {
                height: 16px;
            }
        }
    }
}

app-forecast {
    position: fixed;
    top: 80px;
    left:0;
    bottom: 48px;
    width: 100vw;
    height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    background: $main-gradient;
    background-size: 100vw 100vh;
    background-position: right bottom;
    font-family: 'Montserrat', sans-serif;
    transition: left 0.25s ease-out;
    z-index: 650;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding: 10px 25px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    padding-bottom: 50px;
    &>* {
        flex: 0 0 auto;
        margin: 10px auto;
    }
    &.hidden {
        left: 100%;
    }
    &>.today {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        &>* {
            flex: 0 0 auto;
        }
        &>span {
            width: 100%;
            display: block;
            text-transform: uppercase;
            &.type {
                font-weight: 700;
            }
        }
        &>div {
            display: inline-flex;
            width: 50%;
            padding: 5px;
            height: 120px;
            &.temp {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                &>*{
                    flex: 0 0 auto;
                    margin: 5px auto;
                }
                &>span {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 80px;
                    font-weight: 600;
                }
                &>img {
                    position: relative;
                    top: 22px;
                    width: 18px;
                    height: auto;
                }
            }
            &.values {
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                
                &>* {
                    flex: 0 0 auto;
                    margin: 6px 18px 6px auto;
                }
            }
            &.more {
                width: 100%;
                height: 90px;
                justify-content: space-evenly;
                flex-direction: row;
                align-items: center;
                &>* {
                    flex: 0 0 auto;
                    width: 30%;
                }
                &>div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    &>* {
                        flex: 0 0 auto;
                        margin: 3px auto;
                    }
                    &>img {
                        width: 28px;
                        height: auto;
                    }
                }
            }
        }
    }
    &>.forecast {
        padding-top: 18px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        &>* {
            flex: 0 0 auto;
        }
        &>span {
            width: 100%;
            display: block;
            text-align: center;
            letter-spacing: 1px;
            padding-bottom: 8px;
            border-bottom: solid 1px white;
        }
        &>div {
            border-bottom: solid 1px white;
            width: 100%;
            height: 60px;
            margin: 8px auto 0 auto;
            &>* {
                flex: 0 0 auto;
                vertical-align: middle;
                margin: 0;
            }
            &>.day {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 20%;
                height: 60px;;
                &>* {
                    flex: 0 0 auto;
                }
                &>span {
                    font-size: 18px;
                    font-weight: 600;
                    display: block;
                    padding: 5px 6px 3px 6px;
                    position: relative;
                    &:first-of-type {
                        font-size: 15px;
                        &::before {
                            content: '';
                            display: block;
                            width: 80%;
                            height: 2px;
                            background: white;
                            position: absolute;
                            left: 10%;
                            top: 100%;
                        }
                    }
                }

            }

            &>.weather {
                display: inline-flex;
                width: 80%;
                height: 60px;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                &>* {
                    flex: 0 0 auto;
                }
                &>img {
                    height: 40px;
                    width: auto;
                }
                &>div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &>* {
                        flex: 0 0 auto;
                    }
                }
            }
        }
    }
}




.mat-slide-toggle-content {
    color: white;
    font: 400 1em "Montserrat", sans-serif !important;
}
.mat-slide-toggle-bar {
    margin-right: 20px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background: rgba(255,255,255, 0.8);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: white;
}

@media only screen and (min-width: 360px) {
    .add-to-home {
        &.modal {
            height: 170px;
        }
    }
}

@media only screen and (min-width: 480px) {
    app-news {
        width: 480px;
        height: 540px;
        &.nodesc {
            height: 410px;
            &>.body {
                height: 40px;
            }
        }
        &>.title {
            height: 320px;
        }
        &>.body {
            height: 170px;
            &>.source {
                font-size: 15px;
            }
            &>.published {
                line-height: 15px;
                font-size: 13px;
            }
        }
    }
}

@media only screen and (min-width: 600px) {
    
    app-nav-bar {
    
        &>.nav-section {
            &.left {
                width: 50%;
            }
            &.right {
                width: 50%;
                
            }
        }
    }

}

@media only screen and (min-width: 768px) {
    
    app-side-bar {
        width: 340px;
        left: calc(100% - 340px);
    }
    app-forecast {
        width: 340px;
        left: calc(100% - 340px);
    }
}

@media only screen and (min-width: 1024px) {

    app-side-bar {
        width: 380px;
        left: calc(100% - 380px);
        height: calc(100vh - 80px);
        max-height: calc(100vh - 80px);
    }

    app-forecast {
        width: 380px;
        left: calc(100% - 380px);
    }

    app-categories {
        width: 100%;
        position: fixed;
        top: 80px;
        left: 0;
        width: calc((100% - 480px) / 2 - 20px);
        max-width: 250px;
        height: 320px;
        mat-radio-group.categories {
            flex-direction: row;
            justify-content: flex-start;
            align-content: flex-start;
            &>mat-radio-button {
                height: 30px;
                flex: 0 0 auto;
                margin: 0 10px 10px 0;
            }
        }
    }

    app-sources {
        padding: 0;
        position: fixed; 
        top: 340px; 
        max-height: 500px;
        left: 10px; 
        z-index: 550;
        width: calc((100% - 480px) / 2 - 20px);
        display: block;
        overflow: hidden;
        &>div{
            max-height: 460px;
            overflow: auto;
        }
        .mat-chip-list-wrapper {
            width: 85%;
            max-width: 250px;
            mat-chip {
                // &.mat-standard-chip {
                //     &.mat-primary {
                        
                //         &.selected {
                            
                //         }
                //         mat-icon.mat-chip-remove {
                            
                //         }
                //     }
                // }
                &[hidden] {
                    display: none;
                }   
            }
        }
        mat-form-field {
            width: 85%;
            &>.mat-form-field-wrapper {
                padding: 0 !important;
                &>.mat-form-field-underline {
                    display: none !important;
                }
                .mat-form-field-infix {
                    border: none;
                    padding: 0 0 4px 0;
                }
            }
        }
    }

    .settings-title {
        display: block;
    }
}