

<div class="news-container" [class.dark]="isDarkTheme" infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="getMoreNews()"
[scrollWindow]="false">
    <div id="scrolltop" style="width: 100%; height: 1px; margin: 0;"></div>
    <app-spinner *ngIf="!news || news.length == 0" ></app-spinner>
    <app-news *ngFor="let article of news" [article]="article"></app-news>
</div>


<app-settings *ngIf="isMobile" ></app-settings>
<app-sources *ngIf="!isMobile"></app-sources>
<app-categories *ngIf="!isMobile"></app-categories>
